@page "/"
@using Brewery.Web.States
@using Microsoft.AspNetCore.Authorization

@inject CultureState CultureState
@inject UserState UserState
@attribute [AllowAnonymous]

<PageTitle>IndexPage</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary" @onclick="CultureState.SetIncrement">
    Incrementer 
</button>

<SurveyPrompt Title="How is Blazor working for you?"/>
