@using Brewery.Web.States
@using Elia.Core.Extensions
@using Brewery.Web.Helpers.States
@using Brewery.Web.Helpers.ViewModels
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthSateProvider AuthSateProvider

<div class="main">
    

    <CascadingValue Value="CurrentUserViewModel" Name="@CascadingConst.CurrentUser">
        <NavMenu/>
        <article class="content px-4">
            @Body
        </article>
    </CascadingValue>
   
</div>

@code
{
    public ApplicationUserViewModel CurrentUserViewModel { get; set; }
 
    
    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }
    
    protected override async Task OnParametersSetAsync()
    {

      
        
        var userIdentity = (await AuthenticationState)?.User.Identity;
        
        if (userIdentity != null && !userIdentity.IsAuthenticated)
        {
           

            //NavigationManager.NavigateTo(AppRoutingEnum.Login.GetEnumDescription());
        }
        else
        {
            CurrentUserViewModel = AuthSateProvider.CurrentUserViewModel;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await AuthSateProvider.SetToken();
    }
}
